body {
    font-family: "Roboto", sans-serif;
}

.title {
    position: relative;
    z-index: 2;
    height: calc(100vh + 20vh);
    /* Adjusted height */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: linear-gradient(to bottom, #e9e9e9 80%, #ffffff);
    /* Change the background color as desired */
    color: #333;
    /* Change the text color as desired */
    padding: 20px;
    margin-bottom: 20vh;
}

.gradient-section {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: calc(100vh + 20vh);
    background: linear-gradient(to bottom, rgba(240, 240, 240, 0), rgba(240, 240, 240, 1));
    /* Adjust colors and opacity as desired */
    z-index: 1;
    /* Lower z-index */
    /* pointer-events: none; Allow clicking through */
}

.title .flex {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#im {
    text-align: left;
    font-size: 5rem;
    font-weight: 500;
    margin-top: -20vh;
    margin-bottom: 0;
    margin-right: auto;
    /* Aligns with the right edge of h1 */
}

.title h1 {
    font-size: 8rem;
    margin-top: 1vh;
    margin-bottom: 3vh;
    margin-left: auto;
    /* Push h1 to the right */
    margin-right: auto;
    /* Push h1 to the left */
}

.title p {
    margin-top: 3vh;
    font-size: 1rem;
    /* margin-bottom: 5vh; */
    margin-right: auto;
    text-align: left;
}

#name {
    color: #6A994E;
}

.title .button-group {
    /* margin-top: 5vh; */
    /* flex-direction: row; */
    margin-left: auto;
    /* Move button group to the right */
    display: flex;
    align-items: right;
    justify-content: flex-end;
}

.title a.button {
    justify-content: right;
    margin-left: auto;
    text-align: center;
    display: inline-block;
    /* min-width: 8vw; */
    width: 110px;
    padding: 10px 40px;
    background-color: #BC4749;
    /* Button background color */
    color: #F2E8CF;
    /* Button text color */
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    margin-bottom: 2vh;
}

.title a.button:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.262);
}

#button-1 {
    width: 110px;
    display: inline-block;
    background-color: #386641;
    color: #F2E8CF;
}

.title ul {
    justify-content: flex-end;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.title ul li {
    display: inline-block;
    margin-right: 2vh;
}

.title ul li:last-child {
    margin-right: 0;
}

.HTML-Projects {
    margin-top: 125vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #fff;
    /* Change the background color as desired */
    color: #333;
    /* Change the text color as desired */
    padding: 20px;
}

.Python-Projects {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #fff;
    /* Change the background color as desired */
    color: #333;
    /* Change the text color as desired */
    padding: 20px;
}

.project {
    display: flex;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    /* Add shadow for a sleek look */
    margin-bottom: 30vh;
    /* margin-top: 20vh; */
    /* border: solid 1px #b1b1b1; */
    /* Add some spacing between projects */
    width: 60vw;
    min-height: 80vh;
    height: fit-content;
}

.project:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.262);
}

.project img {
    /* height: 100%; */
    width: 60%;
    /* Make the image take the full width of its container */
    object-fit: cover;
    /* Ensure the image covers the entire space */
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.project-info {
    margin-top: auto;
    text-align: left;
    flex: 1;
    padding: 20px;
    background-color: #fff;
}

.project-info p {
    margin-bottom: 10px;
}

.project-info a:hover {
    text-decoration: underline;
}

.project-info h2 {
    margin-right: 0.5vw;
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.project-info .project-link a {
    margin-top: 0;
    padding: 3px 10px;
    /* Reduce padding for smaller button */
    font-size: 12px;
    background-color: #fff;
    color: #BC4749;
    border: 2px solid #BC4749;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

.project-info .project-link a:hover {
    background-color: #BC4749;
    color: #fff;
}

.Technologies {
    font-weight: 500;
}

.tech {
    color: #6A994E;
}

.footer {
    background: linear-gradient(to top, #e9e9e9 80%, #ffffff);
    color: #333;
    text-align: center;
    padding: 20px 0px;
    bottom: 0;
    width: 100%;
    margin-top: 0;
}

.footer p {
    padding-top: 10px;
}

@media screen and (max-width: 915px) {

    .gradient-section {
        height: 60vh;
        /* Adjust height for smaller screens */

    }

    .title {
        background: linear-gradient(to bottom, #e9e9e9 90%, #ffffff);
        height: 60vh;
        /* Adjust height for smaller screens */
        padding-top: 10vh;
        /* Increase top padding */
        padding-bottom: 10vh;
        /* Increase bottom padding */
        margin-bottom: 10vh;
        /* Decrease bottom margin */
    }

    .title .flex {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #im {
        font-size: 3rem;
        /* Decrease font size for smaller screens */
        margin-top: -10vh;
        /* Adjust margin top */
    }

    .title h1 {
        font-size: 4rem;
        /* Decrease font size for smaller screens */
        margin-top: 0.5vh;
        /* Adjust margin top */
        margin-bottom: 1.5vh;
        /* Adjust margin bottom */
    }

    .title p {
        margin-top: 1.5vh;
        /* Adjust margin top */
    }

    .title .button-group {
        flex-direction: column;
        /* Change button group direction */
        align-items: center;
        /* Center-align button group */
    }

    .title a.button {
        width: 110px;
        /* Auto width for button */
        margin: 1vh 0;
        /* Adjust margin */
    }

    .HTML-Projects {
        margin-top: 90vh;
    }

    .project {
        height: fit-content;
        width: 90vw;
        /* Adjust width for smaller screens */
        flex-direction: column;
        /* Change project layout to column */
        align-items: center;
        /* Center-align project */
        margin-bottom: 5vh;
        /* Adjust margin bottom */
        min-height: fit-content;
    }

    .project img {
        width: 100%;
        object-fit: cover;
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;
        /* Ensure the image covers the entire space */

    }

    .project-info {
        margin-bottom: 0;
        margin-top: auto;
        padding-bottom: 3vh;
        text-align: center;
        /* Center-align project info */
    }

    .project-info h2 {
        font-size: 1.2rem;
        /* Decrease font size for smaller screens */
        margin-bottom: 5px;
        /* Adjust margin bottom */
    }

    .project-info .project-link a {
        padding: 3px 8px;
        /* Adjust padding */
        font-size: 10px;
        /* Decrease font size for smaller screens */
    }

    @media screen and (max-width: 480px) {

        .footer {
            background: linear-gradient(to top, #e9e9e9 80%, #ffffff);
            color: #333;
            text-align: center;
            padding: 20px 0px;
            bottom: 0;
            width: 100%;
            margin-top: 0;
        }

        .title {
            padding-top: 20vh;
        }

        #im {
            margin-left: auto;
            margin-bottom: 10px;
            margin-right: auto;
            font-size: 2rem;
        }

        .title h1 {
            margin-bottom: 40px;
        }

        .title .button-group {
            flex-direction: column;
            align-items: center;
            text-align: center;
            margin: 0;
        }

        .title a.button {
            width: 110px;
            /* Auto width for button */
            margin: 0;
            margin-bottom: 20px;
            margin-left: auto;
            margin-right: auto;
        }

        .title ul li {
            display: inline-block;
            margin-right: 0;
        }
    }
}