body {
    font-family: "Roboto", sans-serif;
}

.title {
    position: relative;
    z-index: 2;
    height: calc(100vh + 20vh); /* Adjusted height */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: linear-gradient(to bottom, #dfdfdf 80%, #ffffff); /* Change the background color as desired */
    color: #333; /* Change the text color as desired */
    padding: 20px;
    margin-bottom: 20vh;
}

.gradient-section {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: calc(100vh + 20vh);
    background: linear-gradient(to bottom, rgba(240, 240, 240, 0), rgba(240, 240, 240, 1));
    /* Adjust colors and opacity as desired */
    z-index: 1; /* Lower z-index */
    /* pointer-events: none; Allow clicking through */
}


.title h1 {
    margin: 20px 0;
}

.title ul {
    list-style-type: none;
    padding: 0;
    margin: 20px 0;
}

.title ul li {
    display: inline-block;
    margin-right: 20px;
    font-weight: bold;
}

.title ul li:last-child {
    margin-right: 0;
}

.HTML-Projects {
    margin-top: 140vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #fff;
    /* Change the background color as desired */
    color: #333;
    /* Change the text color as desired */
    padding: 20px;
}

.Python-Projects {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #fff;
    /* Change the background color as desired */
    color: #333;
    /* Change the text color as desired */
    padding: 20px;
}

.project {
    display: flex;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    /* Add shadow for a sleek look */
    margin-bottom: 30vh;
    /* margin-top: 20vh; */
    border: solid 1px #b1b1b1;
    /* Add some spacing between projects */
    width: 60vw;
    height: 80vh;
}

.project img {
    height: 100%;
    width: 60%;
    /* Make the image take the full width of its container */
    object-fit:cover;
    /* Ensure the image covers the entire space */
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.project-info {
    margin-top: auto;
    flex: 1;
    padding: 20px;
    background-color: #fff;
}

.project-info h2 {
    margin-top: 0;
}

.project-info p {
    margin-bottom: 10px;
}

.project-info a {
    color: #007bff;
    /* Link color */
    text-decoration: none;
}

.project-info a:hover {
    text-decoration: underline;
}